/**
* css code voor header i.c.m. video
*/
header {
  position: relative;
  background-color: black;
  height: 50vh;
  min-height: 25rem;	
  width: 100%;
  overflow: hidden;
}

.w-100.text-white {
  z-index: 1;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

header .overlayimage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  header {
    background: url('../image/mobileheader.jpg') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/**
* Div row tusssenruimte
*/

.row {
  margin-top: 50px;
}

ul .test {
  text-color: black;
  text-size: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a.test {
  color: black;
  text-size: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none; 
}